
/* scrollbar and selection */ 

::-webkit-scrollbar{
  height:10px;
  width:5px;
  background:inherit;
}

::-webkit-scrollbar-thumb {
  background:#feafbf;
}

::-webkit-scrollbar-track {
  background:transparent;
}

::selection {
  background: #c4daf5;
  color: #ffffff;
}

@media (min-width: 768px) {
    .container-fluid {
        max-width: 60%;
    }
}

.emphasis {
    font-style: italic;
    font-weight: 700; 
}


p {
   font-family: 'Merriweather', 'Georgia', serif; 
    line-height: 1.75em;
    font-size: 1rem; 
}

.topdesc {
    margin-top: 60px; 
/*    margin-left: 15%; */
    margin-bottom: 50px; 
}

.nav {
    margin-top: 35px; 
    margin-bottom: 20px;
}

.heading {
    font-family: 'Playfair Display', serif;
    font-weight: 400; 
    font-size: 50px; 
    text-align: left; 
    position: relative; 
    color: #feafbf; 
    margin-bottom: 60px; 

}

.subtitle {
     text-align: left; 
    font-family: 'Source Sans Pro', 'Georgia', serif;
    font-weight: 300; 
    font-style: italic; 
    text-align: left; 
    position: relative; 
    font-size: 25px; 

}
}


h2 {
    text-transform: uppercase; 
}

h3 {
    margin-top: 60px; 
    margin-bottom: 20px; 
}

h4 {
    font-size: 25px; 
    margin-top: 75px; 
    margin-bottom: 20px; 
}

h5 {
    font-family: 'Source Sans Pro', 'Georgia', serif;
    font-weight: 300; 
}

.h4subtitle {
    font-style: italic; 
    font-weight: 300;
    text-align: left; 
    position: relative; 
    font-size: 20px; 
    margin-top: 0px; 
}

.linkdivider{
    color: #979bdb;
    margin-left: 10px; 
    margin-right: 10px; 
    font-size: 16px; 
}
/* header */
a {
    text-decoration: none; 
    color: #979bdb;

}

a.footerlink {
    letter-spacing: 2px; 
    font-size: 16px; 
}

a.inlinelink {
    color: #979bdb;
    border-bottom: 1px lightgray dotted; 
}

a.inlinelink:hover {
    text-decoration: none; 
    color: lightgray; 
}

a:hover {
    color: #979bdb;
    text-decoration: underline; 
}

a:active {
    text-decoration: underline; 
    color: #979bdb;
}

a:selected {
    text-decoration: underline; 
    color: #979bdb;
}

.linkselect {
    text-decoration: underline; 
}

.caption {
     font-family: 'Source Sans Pro', 'Georgia', serif;
    font-size: 16px; 
    font-weight: 300;
}

.source {
    text-decoration: none; 
    color: #000;
    letter-spacing: 0px; 
    font-size: 16px; 
}

/* structure */

.col-md, .col-sm {
	padding-right: 0px;
	padding-left: 0px;
}

.row {
    padding-left: 15px; 
    padding-right: 15px; 
}

.page-footer {
    text-align: center; 
    margin-top: 100px; 
    padding-bottom: 15px; 
}

.footer-divider {
    background-color: #707070;
	height: 1px;
	width: 200px;
    text-align: center;
    margin: 20px auto;
}

.footer-text {
    font-family: 'Playfair Display', 'Georgia', 'Serif';
    color: #505050;
	font-size: 20px;
    font-style: italic;
}

.footer-text:hover {
    font-weight: 700;
    text-decoration: none; 
}

li {
    font-family: 'Merriweather', 'Georgia', serif; 
    line-height: 1.75em;
    font-size: 1rem; 
}

ol {
   list-style: none;
   counter-reset: mycount;
 }
 li {
   counter-increment: mycount;
   margin-bottom: 5px;
 }

ol li::before {
 font-family: 'Source Sans Pro', 'Georgia', serif;
  content: "  (  " counter(mycount) "  )  " " ";
   font-weight: bold; 
    margin-right: 5px; 
}

img {
margin-top: 20px; 
}


.profilepic {
    width: 35%; 
    float: right; 
    margin-top: 0px; 
    transform: rotate(5deg);
}