@media (min-width: 768px) {
    .container-fluid {
        max-width: 60%;
    }
}

p {
   font-family: 'Merriweather', 'Georgia', serif; 
    line-height: 1.75em;
    font-size: 1rem; 
}

.topdesc {
    margin-top: 60px; 
/*    margin-left: 15%; */
    margin-bottom: 50px; 
}

.nav {
    margin-bottom: 20px;
}

.heading {
    text-align: left; 
    font-family: 'Source Sans Pro', 'Georgia', serif;
    font-weight: 300; 
    text-align: left; 
    position: relative; 

}

.subtitle {
     text-align: left; 
    font-family: 'Source Sans Pro', 'Georgia', serif;
    font-weight: 300; 
    font-style: italic; 
    text-align: left; 
    position: relative; 
    font-size: 25px; 

}
}

h2 {
    text-transform: uppercase; 
}

h3 {
    margin-top: 45px; 
    margin-bottom: 20px; 
}

h4 {
    font-size: 20px; 
    margin-top: 30px; 
}

.h4subtitle {
    font-style: italic; 
    font-weight: 300;
    text-align: left; 
    position: relative; 
    font-size: 20px; 
    margin-top: 0px; 
}

.linkdivider{
    color: #979bdb;
    margin-left: 10px; 
    margin-right: 10px; 
    font-size: 16px; 
}
/* header */
a {
    text-decoration: none; 
    color: #979bdb;
    letter-spacing: 2px; 
    font-size: 16px; 
}

a:hover {
    text-decoration: none; 
    color: #979bdb;
}

a:active {
    text-decoration: none; 
    color: #979bdb;
}

a:selected {
    text-decoration: none; 
    color: #979bdb;
}

/* structure */

.col-md, .col-sm {
	padding-right: 0px;
	padding-left: 0px;
}

.row {
    padding-left: 15px; 
    padding-right: 15px; 
}

.page-img {
    width: 100%; 
    margin-bottom: 10px; 
}

.page-section { 
    margin-bottom: 85px; 
}

.page-caption {
    text-align: left; 
    font-size: 11px; 
    color: #606060;
    font-family: 'Open Sans', Verdana, sans-serif;
}

.page-footer {
    text-align: center; 
    margin-top: 100px; 
    padding-bottom: 20px; 
}

.footer-divider {
    background-color: #707070;
	height: 1px;
	width: 200px;
    text-align: center;
    margin: 20px auto;
}

.footer-text {
    font-family: 'Playfair Display', 'Georgia', 'Serif';
    color: #505050;
	font-size: 20px;
    font-style: italic;
}
