::selection {
    color: white; 
    background: #FF7585;
}

body {
    background-color:#f3f3f3;
    font-family:Lato;
    color:#000000;
    font-size:11px;
    font-weight:300;
}

a {
    color:#000000;
    text-decoration:none;
    -webkit-transition-duration:600ms;
    -o-transition-duration:600ms;
    -moz-transition-duration:600ms;
    -ms-transition-duration:600ms;
}

a:hover, a:active {
    color: #FF7585;
}

b, em {
    font-weight:bold;
    color:#94b1cc;
}

h1 {
    padding-bottom:1px;
    margin:0;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.card {
    width:400px;
    height:200px;
    background-color:#fff;
    padding:20px;
    box-shadow:2px 2px 3px #ccc;
}

.name {
    width: 400px;
    text-transform:lowercase;
    font-size:45px;
    letter-spacing:3px;
    font-weight:bold;
    margin-top:40px;
    font-family:Playfair Display;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.title {
    width: 400px;
    font-family: Didot, Georgia, serif;
    font-style:italic;
    padding-top:6px;
    text-align: center;
}

.status {
    text-transform:uppercase;
    font-weight:lighter!important;
    font-size:10px;
    letter-spacing:2px;
    padding-top:5px;
}

.links {
    position: relative;
    vertical-align: right;
    text-transform: lowercase;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 130%; 
    text-align: right!important;
/*    border-right: 2px solid black;*/
    padding-right:8px;
}

.links a:after {
    content: '+';
    font-weight: bold;
    margin-left: 5px;
}

.links a {
    display:block;
    margin-top:5px;
}

.links a:before {
    font-style: italic; 
}